* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: bold;
  overflow-x: hidden;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
/* Media query */
@media screen and (min-width:1183px) {

  .hamburger {
    display: none;
  }
}


/* (prima era max-width: 992) */
@media screen and (min-width: 768px) and (max-width: 1183px) {
  .menu, .menu_2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu, .menu_2 {
    display: none;
  }
}
/* Fine media query */


/* Contenitori */
.ms-fluid-container {
  max-width: 100%;
  margin: 0 auto;
}

.ms_container {
  max-width: 80%;
  margin: 0 auto;
}

.ms_mini_container {
  max-width: 70%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}
/* [class*="col-"] {
  background-color: magenta;
  border: 1px solid black;
} */
/* Fine contenitori */


/* Inizio header */
.header_top {
  max-width: 100%;
  background-color: white;
  height: 50px;
}

.ms_container {
  max-width: 80%;
  margin: 0 auto;
}

.hamburger {
  float: right;
}
.hamburger a {
  color: black;
  text-decoration: none;
  line-height: 50px;
}

.header_top a {
  color: black;
  text-decoration: none;
}

.ms_signup_btn {
  border: 1px solid blue;
  color: blue;
}
.ms_signup_btn:hover {
  background-color: aqua;
}

.down::after {
  content: "\25BE";
}

.menu, .menu_2, .button, .logoclass {
  line-height: 52px;
  padding-top: 10px;
  vertical-align: middle;
}

.menu ul li, .menu_2 ul li {
  display: inline-block;
  text-decoration: none;
  padding-right: 1em;
}

.menu_2 {
  text-align: right;
}

.logoclass {
  max-width: 30%;
}

#logo {
  width: 180px;
  vertical-align: middle;
}

/* Inizio banner */
.jumbo_container {
  background-image: url(../img/bg_jumbotron.svg);
  height: 60vh;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 30px;
}
.headertext {
  padding-right: 5%;
}
.headertext_1, .headertext_2 {
  color: white;
}
.headertext_1 {
  margin-top: 16%;
  font-size: 3em;
}
.headertext_2 {
  font-size: 1.2em;
}
.bannerwhite {
  background-color: white;
  margin-top: 4.5%;
  text-align: center;
  min-width: 30%;
  padding-bottom: 20px;
}
.blueh2 {
  color: blue;
}
.email_btn, .google_btn {
  width: 100%;
}
.google_btn {
  background-color: white;
  border: 1.5px solid black;
  color: black;
  position: relative;
  margin-top: 1%;
  margin-bottom: 2%;
}
.google_btn:hover {
  background-color: lightgrey;
  color: blue;
}
.google_btn img {
  width: 5%;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}

/* Fine banner */


/* <!-- Inizio sezione loghi --> */

.innovative {
  background-color: #f3f5f9;
  padding: 25px 0;
}
.innovative h3 {
  padding-bottom: 30px;
}
.row_innovative {
  width: 60%;
  margin: 0 auto;
}
.gitlab {
  width: 90%;
}
.row_innovative {
  line-height: 50px;
}
.imagelogo {
  max-width: 100%;
  height: 100%;
  display: inline-block;
}

.imagelogo img {
  max-width: calc(100% / 6);
  min-width: 100%;
  vertical-align: middle;
}

.stories {
  text-align: center;
  padding-top: 15px;
}
.stories a {
  font-size: 1.2em;
  text-decoration: none;
}
/*<!-- Fine sezione loghi --> */


/* <!-- Inizio sezione deploy -->*/
.deploy_body ul li {
  list-style-type: none;
  color: grey;
  border-left: 1px solid grey;
  padding-left: 5px;
}

.deployhead h1, .designedtext_1 {
  font-size: 2.5em;
}
.deployhead p, .designedtext_2 {
  font-size: 1.222em;
}

/*<!-- Fine sezione deploy --> */


/* <!-- Inizio sezione "Designed for developers" -->*/
.designed {
  background-color: #f3f5f9;
  padding-top: 10px;
  padding-bottom: 25px;
}
.designedimage img {
  max-width: 35%;
}

.dots {
  padding-top: 15px;
}
.nav-dot {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(10, 52, 48, 0.93);
}
.nav-dot:hover {
  cursor: pointer;
  background-color: grey;
}
/*<!-- Fine sezione "Designed for developers" --> */


/* <!-- Inizio sezione "The features your business needs" -->*/
.features {
  padding-top: 15px;
  padding-bottom: 30px;
}
.features h2 {
  padding-bottom: 15px;
}
/*<!-- Fine sezione "The features your business needs" --> */


/* <!-- Inizio sezione "Regions" --!> */
.regions, .oceanteam {
  padding-top: 20px;
  padding-bottom: 40px;
}
.regions, .account {
  background: linear-gradient(0deg, rgba(0,43,166,1) 7%, rgba(23,79,205,1) 51%, rgba(32,40,187,1) 94%);
  color: white;
}
.borderegions {
  border-bottom: 1.5px solid grey;
  padding: 5px 0;
}
.sep_regions {
  padding-right: 50px;
}
.regionstext_1 {
  float: left;
  color: white;
  font-weight: inherit;
}
.regionstext_2 {
  color: lightgrey;
  font-weight: inherit;
}
.regionstext_3 {
  float: right;
  color: lightgrey;
}
.regionstext_2, .regionstext_3 {
  font-weight: lighter;
}
.regions h2 {
  padding-bottom: 15px;
}
/* <!-- Fine sezione "Regions" --!> */


/* <!-- Inizio sezione "Development Team" --> */
.oceanteam {
  background-color: #f3f5f9;
}
.oceanteam_container {
  width: 60%;
  margin: 0 auto;
}
.rockerbox {
  margin-top: 20px
}
.rockerboxcontainer {
  background-color: white;
  max-width: 50%;
  margin: 0 auto;
  padding: 5%;
}
.rockerbox img {
  max-width: 100%;
}
.author {
  font-weight: 900;
}
.author, .developers {
  display: block;
}
.developers {
  padding-bottom: 15px;
  font-weight: lighter;
}
.rockerboxcontainer p {
  padding-top: 20px;
  color: grey;
}
/* <!-- Fine sezione "Development Team" --> */


/* <!-- Inizio sezione "crea il tuo account" --> */
.account {
  text-align: center;
}
/* <!-- Fine sezione "crea il tuo account" --> */


/* <!-- Inizio sezione Footer --> */
.footer_container {
  background-color: blue;
  margin: 0 auto;
  width: 70%;
}
footer {
  background-color: green;
}
