* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.ms-fluid-container {
  width: 100%;
  margin: 0 auto;
}

.ms_container {
  width: 80%;
  margin: 0 auto;
}

[class*="col-"] {
  background-color: magenta;
  border: 1px solid black;
}
/* Inizio header */
.header_top {
  width: 100%;
  background-color: magenta;
}

.hamburger {
  float: right;
}
.hamburger a {
  color: black;
  text-decoration: none;
}

/* Inizio banner */
.ms_jumbotron {
  height: 50vh;
  background-color: skyblue;
}

.ms_jumbo_container {
  width: 95%;
  height: 20vh;
  background-color: magenta;
  margin: 0 auto;
}

.ms_jumbotron .ms_container {
  height: 20vh;
  background-color: magenta;
}

.Logos_container {
  width: 70%;
}

/* Fine banner */


/* <!-- Inizio sezione loghi -->
<!-- Fine sezione loghi --> */


/* <!-- Inizio sezione deploy -->
<!-- Fine sezione deploy --> */


/* <!-- Inizio sezione "Designed for developers" -->
<!-- Fine sezione "Designed for developers" --> */


/* <!-- Inizio sezione "The features your business needs" -->
<!-- Fine sezione "The features your business needs" --> */


/* <!-- Inizio sezione "Regions" --!> */
.speedtest_1 {
  padding: 20px 0;
}
/* <!-- Fine sezione "Regions" --!> */


/* <!-- Inizio sezione "Development Team" --> */
.oceanteam_container {
  width: 60%;
  margin: 0 auto;
}
/* <!-- Fine sezione "Development Team" --> */


/* <!-- Inizio sezione "crea il tuo account" --> */
/* <!-- Fine sezione "crea il tuo account" --> */


/* <!-- Inizio sezione Footer --> */
.footer_container {
  background-color: blue;
  margin: 0 auto;
  width: 70%;
}
footer {
  background-color: green;
}
